# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe

# Build directories
build/
dist/
cmake-build-debug/
cmake-build-release/
DerivedData/
Builds/

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# IDE
.vscode/settings.json
.DS_Store
Thumbs.db
*.out
*.app
